%h2= "Listing followers of #{@user.login}:"
%ul.tweets
  %table
    %tr
      %th Followee
      %th Last Tweet
    -@tweets.each do |tweet|
      %tr
        %td= link_to(tweet['screen_name'], 'http://twitter.com/'+tweet['screen_name'], :target => "_blank")
        -#%td= tweet['status']
    -#%li= "#{link_to (tweet['screen_name'] , 'http://twitter.com/' + tweet['screen_name'], :target => "_blank")} #{tweet['status']['text']}"
= button_to "Logout", :action => "destroy", :controller => "sessions"
