%h2= "Listing followers of #{@user.login}:"
%ul.tweets
  %table
    %tr
      %th Followee
      %th Last Tweet
    -@tweets.each do |tweet|
      %tr
        %td= link_to(tweet['screen_name'], 'http://twitter.com/'+tweet['screen_name'], :target => "_blank")
        -if tweet['status']
          %td= tweet['status']['text']
        -else
          %td This user has no tweets
= button_to "Logout", :action => "destroy", :controller => "sessions"
